/*=============================
	general reset & settings for input, form and buttons
=============================*/

// look here ./src/styles/Global.jsx

/*=============================
	fonts
=============================*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&display=swap');

body, input, textarea {
	font-family: 'nunito sans';
}

#container {
	position: relative;
	min-height: 100vh;;
}
#page_wrapper {
	max-width: 80%;
	margin: 0 auto;
}

#page_content, .officeContent {
	padding-bottom: 60px;	
}
#page_content {
	margin: 40px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	grid-template-rows: auto;
	grid-template-areas:
		"kontorer kontakt kontakt kontakt"
		"fagartikler fagartikler fagartikler fagartikler"
		"footer footer footer footer";
}

#kontorer, #kontakt, #fagartikler {
	display: grid;
	background-color: #dbdbdb;
	height: 300px;
}

#kontorer {
	grid-area: kontorer;
}

.title {
	display:block;
	width: 100%;
	font-size: 30px;
	text-decoration: none;
	align-self: center;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
}
#kontakt {
	grid-area: kontakt;
}

#fagartikler {
	grid-area: fagartikler;
}

.callout {
	text-align: center;
}

.viewOptions {
	display: grid;
	grid-template-columns: auto 60px;
	grid-gap: 20px;
	grid-template-areas: 
	"search mode"
}

.searchbox {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  outline: none;
  margin: 10px 0;
  background: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 10px;
  background-position-y: center;
  grid-area: search;
}

.true_mode, .false_mode {
	width: 40px;
	height: 40px;
	background-position: center;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 14px;
	padding: 0;
	grid-area: mode;
	justify-self: end;
}

.true_mode {
	background: url(../svg/grid.svg) no-repeat;
}

.true_mode:hover {
	background: url(../svg/grid_hover.svg) no-repeat;
}

.false_mode {
	background: url(../svg/list.svg) no-repeat;
}

.false_mode:hover {
	background: url(../svg/list_hover.svg) no-repeat;
}

.officeContent {
	margin: 0px auto;
}
.branch {
	margin-bottom: 60px;
}
.gridOffices {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 40px;
	justify-content: space-between;
}

// .listOffices {
// 	border: 1px solid red;
// }

// .listOffices > .oneOffice {
	

// }

.secondary {
	width: 25px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	display: none;
}

.hjem_svg {
	background-image: url(../svg/home.svg);
	content: "hello";
}
.hjem_svg:hover {
	background-image: url(../svg/home_hover.svg);
}
.kontorer_svg {
	background-image: url(../svg/office.svg);
}
.kontorer_svg:hover {
	background-image: url(../svg/office_hover.svg);
}
.fagartikler_svg {
	background-image: url(../svg/article.svg);
}
.fagartikler_svg:hover {
	background-image: url(../svg/article_hover.svg);
}
.kontakt_svg {
	background-image: url(../svg/contact.svg);
}
.kontakt_svg:hover {
	background-image: url(../svg/contact_hover.svg);
}
.login_svg {
	background-image: url(../svg/login.svg);
}
.login_svg:hover {
	background-image: url(../svg/login_hover.svg);
}

/*=============================
	register
=============================*/

.registerLabel {
	display: grid;
	grid-template-columns: 150px auto;
	grid-gap: 20px;
}

#name_error, #mail_error, #username_error, #password_error, #verifypassword_error {
	justify-self: end;
	color: red;
	display: none;
}

/*=============================
	@media
=============================*/
@media(max-width: 1400px) {
	#page_content {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"kontorer kontakt"
		"fagartikler fagartikler"
		"footer footer";
	}
		.gridOffices {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media(max-width: 1200px) {
	.gridOffices {
		grid-template-columns: 1fr 1fr;
	}
}
@media(max-width: 1000px) {
	.primary {
		display: none;
	}
	.secondary {
		display: block;
	}

}
@media(max-width: 800px) {
	#page_content {
		grid-template-columns: 1fr ;
		grid-template-areas:
		"kontorer"
		"fagartikler"
		"kontakt"
		"footer";
	}
	.gridOffices {
		grid-template-columns: 1fr;
	}
	.viewOptions {
		grid-template-columns: 1fr; 
		grid-template-areas: 
		"search";
	}
	.true_mode, .false_mode {
		display: none;
	}
}
@media(max-width: 500px) {
	.title {
		font-size: 18px;
		// line-height: 150px;
	}
}
